body {
  margin: 0;

  font-family: 'Press Start 2P', cursive;
  background-image: url('common/images/background1.jpg');
  background-size: cover;
}

body button{
  font-family: 'Press Start 2P', cursive;
}

table {
  border-collapse: separate;
  background-color: #444;
}
table, tr, td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}
td {
  border: solid 1px #444;
  background-color: #c4ac90;
  text-align: center;
}
td button {
  width: 4vw;
  height: 4vw;
  background-color: #c4ac90;
  
  border: none;
  margin: 4px;
  outline: none;
}

@media (max-width: 768px) { 
  td button{
    width: 9vw;
    height: 9vw;
  }
}
 
.whiteBox{
  background-color: #fff;
}
.blackBox{
  background-color: #000;
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box table, .box .header{
  align-self: center;
}

.currentPlayer{
  height: 30px;
  width: 30px;
  border: solid 1px black;
}
