body {
  margin: 0;

  font-family: 'Press Start 2P', cursive;
  background-image: url('common/images/background2.jpg');
  background-size: cover;
}

body button{
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

h1{
  float: left;
}

.gameInfoBtn{
  float: left;
  padding: 0 1px;
  background: none;
  cursor: pointer;
}

@media (max-width: 376px) { 
  .gameInfoBtn{
    position: fixed;
    top: 0px;
    right: 0px;
  }
}
table {
  border-collapse: separate;
  background-color: #444;
  box-shadow: 0px 0px 10px 2px black;
}
table, tr, td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}
td {
  border: solid 1px #000;
  background-color: #444;
  text-align: center;
  box-shadow: 0px 0px 10px dimgrey inset;
}
td button {
  width: 3vw;
  height: 3vw;
  background-color: #444;
  border: none;
  margin: 4px;
  outline: none;
}

@media (max-width: 768px) { 
  td button{
    width: 9vw;
    height: 9vw;
  }
}
.whiteBox{
  background-color: #fff;
  animation: pulseWhite 2s;
}

@keyframes pulseWhite{
  0%{
    background-color: #444;
  }
  100%{
    background-color: #fff;
  }
}

.blackBox{
  background-color: #000;
  animation: pulseBlack 2s;
}

@keyframes pulseBlack{
  0%{
    background-color: #444;
  }
  100%{
    background-color: #000;
  }
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box table, .box .header, .box .header h3{
  align-self: center;
  text-align: center;
}

.currentPlayer{
  height: 30px;
  width: 30px;
  border: solid 1px black;
}

.playerMode{
  background-color: #444;
  border: solid 2px black;
  padding: 10px;
  cursor: pointer;
}

.selected{
  border: solid 4px #fff;
  box-shadow: 0px 0px 10px 3px black;
  color:#fff;
}

.restartBtn{
  background-color: black;
  border: solid 2px #444;
  padding: 10px;
  cursor: pointer;
  color:#fff
}

.gameInfo{
  position: absolute;
  background-color: dimgray;
  z-index: 999999;
  padding: 20px;
  border: 2px solid black;
  margin: 40px;
  left: 0;
}

.blured{
  opacity: 0.2;
}

.blured .gameInfo{
  opacity: 1;
}

.gameInfo p{
  text-align: left;
}

.header h2{
  position: absolute;
  top: 40vh;
  z-index: 999999;
  font-size: xxx-large;
}

footer a{
  color:#000;
}

footer{
  text-align: center;
  padding: 10px;
}